header {
  height: max-content;
  padding-top: 5rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}


.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  /* justify-content: center; */
  justify-content: flex-start;
}
.header_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_socials {
  display: flex;
  font-size: 2rem;
  /* flex-direction: column; */
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  /* position: absolute; */
  /* left: 0; */
  margin-top: 2rem;
  /* bottom: 3rem; */
}
/* 
.header_socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
} */
.me {
  /* background: linear-gradient() var(--color-primary),transparent; */
  width: 25rem;
  height: 25rem;
  /* position: absolute; */
  left: calc(50%);
  /* margin-top: 4rem; */
  border-radius: 50%;
  overflow: hidden;
  /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
  /* background-color:var(--color-primary) ; */
}
.image {
  /* border-radius: 50px; */
}

.scroll_down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: 95vh;
  }
}
@media screen and (max-width: 600px) {
  .header {
        height: 100vh;
    }

  .header_con {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .me {
    width: 20rem;
    height: 20rem;
    position: absolute;
    left: calc(8%);
    border-radius: 50%;
  }
  /* .header_socials, .scroll_down {
        display: none;
    } */
}
